/* header */
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
/* tag-name */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
/* font */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "Style Script", cursive;
}

body {
  background-color: azure;
}

.potato {
  background-color: greenyellow;
}

.box {
  background-color: hotpink;
}

.pan {
  background-color: mediumpurple;
}

.font {
    font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
}

#header {
  background: #40e0d0;
  background: -webkit-linear-gradient(to bottom, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to bottom, #ff0080, #ff8c00, #40e0d0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 4rem;
}

#tag-name {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}
